<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> hello </title>
    <link rel="stylesheet" type="text/css" href="web/css/vendor/jquery.fullPage.css" />
    <link rel="stylesheet" href="web/css/main.css" />

    <link rel="icon" href="web/assert/img/favor.ico" sizes="192x192" />
    <link rel="shortcut icon" href="web/assert/imgfavor.ico"/>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="full-screen" content="yes"><!--UC强制全屏-->
    <meta name="browsermode" content="application"><!--UC应用模式-->
    <meta name="x5-fullscreen" content="true"><!--QQ强制全屏-->
    <meta name="x5-page-mode" content="app"><!--QQ应用模式-->
</head>
<body>
    <nav class="main-nav">
        <a href="#blog">Blog</a>
        <a href="#tools">Tools</a>
        <a href="#about">About</a>
        <a href="http://github.com/joyous-x">GitHub</a>
    </nav>

    <div class="root">
        <section class="full-section -hello" data-anchor="hello" style="background-color: #1abc9c;">
            <article>
                <h1>Just Do It !</h1>
                <p> hello everyone ~ </p>
            </article>
        </section>

        <section class="full-section -blog" data-anchor="blog" style="background-color: #2ecc71;">
            <article>
                <h1>Blog</h1>
                <p>welcome to my blog</p>
                <br />
                <img src="web/asset/arrow.svg" />
            </article>
            <a href="blog" class="full-link"></a>
        </section>

        <section class="full-section -tools" data-anchor="tools" style="background-color: #3498db;">
            <article>
                <h1>Tools</h1>
                <p>this is my productivity tools</p>
                <br />
                <img src="web/asset/arrow.svg" />
            </article>
            <a href="tools" class="full-link"></a>
        </section>

        <!-- <section class="full-section -about" data-anchor="about" style="background-color: #9b59b6;"> -->

        <section class="full-section -about" data-anchor="about" style="background-color: #34495e;">
            <article class="article-splitted">
                <h1>Joyous-x</h1>

                <div class="text">
                    <p>here should be my introdution, but i am so lazy</p>
                    <br />
                    <p>to be continued</p>
                </div>
                <div class="lists">
                    <ul>
                        <li><h3>I really like</h3></li>
                        <li>Music</li>
                        <li>Coffee</li>
                        <li>Beer</li>
                    </ul>
                    <ul>
                        <li><h3>Let's talk</h3></li>
                        <li><a href="mailto:joyoushunter@yeah.net">Email</a></li>
                        <li><a href="http://github.com/joyous-x">GitHub</a></li>
                    </ul>
                </div>
            </article>
        </section>
    </div>

    <script src="web/js/jquery-2.1.4.min.js"></script>
    <script src="web/js/jquery.fullPage.min.js"></script>
    <script src="web/js/parallax.min.js"></script>
    <script src="web/js/home.js"></script>
</body>
</html>